.footer-nocta{
    background-color: #8D8685;
}

.nav-links-footer{
    padding-left: 2rem;
    padding-top: 2rem;
    font-size: 2rem;
}

.icons-footer{
    height: 40px;
}

.social-media-footer{
    display: flex;
    justify-content: flex-end;
}

.margin-social-media{
    margin-left: 10px;
    margin-right: 10px;
}
