header{
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/nike-supreme-dunk-low-zapatillas-esquire-1614674382.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

h1{
    font-size: 10.0rem;
}

.nav-bar-header{
    background-color: #8D8685;
    font-size: 2rem;
}

.nav-bar-header{
    a:hover{
        transform: scale(1.1);
        color: #d42e12;  
    }
	
}

.nav-bar-header{
    a{
        text-decoration: none;
	    color: #000000;
	    text-shadow: 1px 1px;
    }
	
}