


.img-sizement{
    width: 360px;
    height: 500px;
}

.h3-accesorios{
    width: 100%;
    font-size: 50px;
    text-align: center;
    /* margin-top: 10rem; */
}

.lista-accesorios{
    margin: 70px;
    font-size: 30px;
}