.pantalonesimg{
    width: 400px;
    height: 400px;
}

.divimgpantalones{
    margin: 0.2rem;
}

.pimagenes{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 5rem;
    margin-left: 2rem;
}

.h3-pantalones{
    font-size: 50px;
    text-align: center;
    margin-top: 5rem; 
}